.logo {
  min-height: 100px;
  margin-bottom: 20px;
}

.nav-container__sub-header {
  margin-bottom: 20px;
}

.nav-container__sub-header a {
  text-decoration: none;
  color: inherit;
}

header.signup:before {
  opacity: 0.4;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sm-text-center {
    text-align: center;
  }

  .m-t-2 {
    margin-top: 15px;
  }
}
