<section id="about" class="side-image text-heavy clearfix">
  <div class="image-container col-md-5 col-sm-3 pull-left">
    <div class="background-image-holder">
      <img class="background-image" alt="Background Image" src="img/P1110580.JPG">
    </div>
  </div>
  
  <div class="container">
  
    <div class="row">
  
      <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix">
        <h1>About Knit2 Yarns</h1>
        <p class="lead">
          Knit2 Yarns is Kamloops' newest Yarn Shop. We have a great selection of yarns and notions for all your knitting needs. We carry Malabrigo, Noro, Sweet Georgia, Smith and Ewe, Cascade, Berroco, and much more!
        </p>
        <h1 id="dropin">Drop in Knitting Days</h1>
        <p class="lead">
          Starting in July, there will be drop in knitting days at the shop. Wednesday's at 9:30 a.m. and Saturdays at 10:00 a.m.  Bring your current work in progress or come and get started on a new project. You can call the shop with any questions <span class="bold">250 314 0276</span>.
        </p>
        <!--<a href="" class="btn btn-primary">Purchase Pivot</a><br>-->
        <h1 id="classes">Upcoming classes</h1>
        <p class="lead no-margin-bottom">
          If you are interested in any of our classes, please call the store (<span class="bold">250-314-0276</span>) or email us (<span class="bold">contact@knit2yarns.com</span>). If you would like to see what the finished products look like, stop by the store and we'll be happy to show you. Materials not included in class price.
        </p>

        <div class="no-pad-left feature">
          <h5>Knitting 101</h5>
          <p>
            This class is geared for the beginner. Simple slippers will
            cover two basic knitting stitches as well as knitting in the
            round.
          </p>
          <p>
            2 classes, 2 hours each. April 6 and 13 - 6:00pm-8:00pm
          </p>
          <p class="bold">$40</p>
        </div>
        <div class="no-pad-left feature">
          <h5>Intro to Lacework - Shaelyn Shawl</h5>
          <p>
            In this class we will be exploring the Shaelyn Shawl pattern
            by Leila Raabe. This top-down, centre-out shawl features
            alternating lace and stocking stitch panels for an elegant,
            versatile accessory. Along with basic lace stitches, students
            will learn the garter tab cast-on, how to read both written
            and charted lace instructions, how to prevent and correct
            common mistakes, as well as finishing techniques for making
            the most of your lace knitting.
          </p>
          <p>
            This class is for confident beginner knitters. Students
            should already be comfortable casting on and familiar with
            both knit and purl stitches.
          </p>
          <a href="img/IMG_4995.JPG" data-lightbox="Shawl" data-title="Intro to Lacework - Shaelyn Shawl">View Image</a>
          <p>
            1 class, 2 hours. April 27 - 6:00pm-8:00pm
          </p>
          <p class="bold">$25</p>
        </div>
        <div class="no-pad-left feature">
          <h5>Drop, Tink, Frog - Basics of Reading Your Knitting and Fixing Mistakes</h5>
          <p>
            Have you ever noticed a mistake in your knitting and thought
            that ripping it out was the only solution? Don't despair!
            Join us to learn techniques for identifying and solving
            common knitting problems. In this class students will learn
            how to count rows in both stockinette and garter stitches,
            how to pick up dropped stitches, as well as how to assess
            mistakes and choose the best method for dealing with them.
          </p>
          <p>
            This class is for confident beginner knitters. Students
            should already be comfortable casting on and familiar with
            both knit and purl stitches.
          </p>
          <p>
            1 class, 2 hours. May 11 - 6:00pm-8:00pm
          </p>
          <p class="bold">$20</p>
        </div>
        <div class="no-pad-left feature">
          <h5>Intro to Socks</h5>
          <p>
            Socks aren't as scary as you think. If you can knit and purl
            then you can make socks. Chunky socks work up faster so you
            can see your sock finished sooner.
          </p>
          <a href="img/SockClass.jpg" data-lightbox="Socks" data-title="Intro to Socks">View Image</a>
          <p>
            2 classes, 2 hours each. May 18 and 25 - 6:00pm-8:00pm
          </p>
          <p class="bold">$40</p>
        </div>
        <div class="no-pad-left feature">
          <h5>Top Down Sweater</h5>
          <p>
            Are you nervous about knitting a sweater? Using the 'top
            down' method, your sweater will be Knít seamlessly and will
            be done in no time.  Make one for a little one, or yourself!
          </p>
          <a href="img/SweaterClass.jpg" data-lightbox="Sweater" data-title="Top Down Sweater">View Image</a>
          <p>
            2 classes, 2 hours each. May 18 and June 8 - 6:00pm-8:00pm
          </p>
          <p class="bold">$40 + pattern purchase</p>
        </div>
      </div>
    
    </div>
  
  </div>
</section>
