<section> 
  <div class="container">
    <h1 id="classes">Upcoming classes</h1>

    {% assign length = site.classes | size %}
    {% if length > 0 %}
      <p class="lead">
        If you are interested in any of our classes, please call the store
        (<span class="bold">250-314-0276</span>) or email us
        (<span class="bold">contact@knit2yarns.com</span>). If you would like
        to see what the finished products look like, stop by the store and
        we'll be happy to show you. Materials not included in class price.
      </p>
      <br />

      <div class="row">
        <div class="blog-masonry-container">
        
          {% for class in site.classes %}
            <div class="col-md-4 col-sm-6 blog-masonry-item branding">
              <div class="item-inner">
                {% if class.image_url %}
                  <a
                    href="{{ class.image_url }}"
                    data-lightbox="{{ class.title | replace: " ", "-" | downcase }}"
                    data-title="{{ class.title }}">
                    <img alt="Blog Preview" src="{{ class.image_url }}">
                  </a>
                {% endif %}

                <div class="post-title">
                  <h2>{{ class.title }}</h2>
                  <p>{{ class.description }}</p>
                  <p class="price-details">
                    <span class="price">${{ class.price }}</span>
                    {% if class.price_details %}
                      {{ class.price_details }}
                    {% endif %}
                  </p>
                  <div class="post-meta">
                    <span class="sub alt-font">{{ class.meta_1 }}</span>
                    <span class="sub alt-font">{{ class.meta_2 }}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        
        </div>
      </div>
    {% else %}
      <p class="lead">
        We currently don't have any classes scheduled. Join our newsletter to
        be notified when we have some planned.
      </p>
    {% endif %} 
  </div>
</section>
