<section class="hero-slider">
  <ul class="slides">
    <li class="overlay">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/1.jpg">
      </div>
      <div class="container align-vertical" style="padding-top: 200px;">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">2nd annual Food for Fibre sale!</h1>
            <p class="text-white">Saturday sept. 23. Bring a non perishable food item and receive 20% off your purchases</p>
          </div>
        </div>
      </div>
    </li>

    <li class="overlay">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/2.jpg">
      </div>
      <div class="container align-vertical" style="padding-top: 200px;">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">2nd annual Food for Fibre sale!</h1>
            <p class="text-white">Saturday sept. 23. Bring a non perishable food item and receive 20% off your purchases</p>
          </div>
        </div>
      </div>
    </li>

    <li class="overlay">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/3.jpg">
      </div>
      <div class="container align-vertical" style="padding-top: 200px;">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">2nd annual Food for Fibre sale!</h1>
            <p class="text-white">Saturday sept. 23. Bring a non perishable food item and receive 20% off your purchases</p>
          </div>
        </div>
      </div>
    </li>

    <li class="overlay">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/4.jpg">
      </div>
      <div class="container align-vertical" style="padding-top: 200px;">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">2nd annual Food for Fibre sale!</h1>
            <p class="text-white">Saturday sept. 23. Bring a non perishable food item and receive 20% off your purchases</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
