<section class="hero-slider">
  <ul class="slides">
    <li class="overlay">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/1.jpg">
      </div>
      <div class="container align-vertical" style="padding-top: 200px;">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">Knox Mountain Knit Company</h1>
            <p class="text-white">Saturday October 14, Sasha and Willow of the
            Knox Mountain Knit Company will be sharing a trunk show at the
            shop. Come and be inspired by the beautiful samples they have made
            of their patterns!  1-4 p.m.  Bring your knitting and stay a
            while</p>
          </div>
        </div>
      </div>
    </li>

    <li class="overlay">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/2.jpg">
      </div>
      <div class="container align-vertical" style="padding-top: 200px;">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">Knox Mountain Knit Company</h1>
            <p class="text-white">Saturday October 14, Sasha and Willow of the
            Knox Mountain Knit Company will be sharing a trunk show at the
            shop. Come and be inspired by the beautiful samples they have made
            of their patterns!  1-4 p.m.  Bring your knitting and stay a
            while</p>
          </div>
        </div>
      </div>
    </li>

    <li class="overlay">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/3.jpg">
      </div>
      <div class="container align-vertical" style="padding-top: 200px;">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">Knox Mountain Knit Company</h1>
            <p class="text-white">Saturday October 14, Sasha and Willow of the
            Knox Mountain Knit Company will be sharing a trunk show at the
            shop. Come and be inspired by the beautiful samples they have made
            of their patterns!  1-4 p.m.  Bring your knitting and stay a
            while</p>
          </div>
        </div>
      </div>
    </li>

    <li class="overlay">
      <div class="background-image-holder">
        <img class="background-image" alt="Background Image" src="img/4.jpg">
      </div>
      <div class="container align-vertical" style="padding-top: 200px;">
        <div class="row">
          <div class="col-md-6 col-sm-9">
            <h1 class="text-white">Knox Mountain Knit Company</h1>
            <p class="text-white">Saturday October 14, Sasha and Willow of the
            Knox Mountain Knit Company will be sharing a trunk show at the
            shop. Come and be inspired by the beautiful samples they have made
            of their patterns!  1-4 p.m.  Bring your knitting and stay a
            while</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
