<div class="nav-container">
  <nav class="centered-logo top-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="index.html"><img class="logo logo-dark" alt="Logo" src="img/knit2-logo.png"></a>
        </div>

        <div class="col-sm-12 text-center nav-container__sub-header">
          <span class="vjs-1454979028076-4 vir" vic="vjs-1454979028076-4"><a href="http://maps.google.com/maps?q=40+1967+Trans-Canada+Hwy,+Kamloops,+BC" target="blank"><i class="icon icon_pin vjs-1454979028076-5" vic="vjs-1454979028076-5"></i> 40-1967 Trans Canada Hwy E<br>Kamloops BC</a></span>
        </div>
        <div class="col-sm-12 text-center nav-container__sub-header">
          <span class="vjs-1454979028076-4 vir" vic="vjs-1454979028076-4">
            <i class="icon icon_clock_alt vjs-1454979028076-5" vic="vjs-1454979028076-5"></i> Mon-Fri 9:30am-5:30pm; Sat 10:00am-5:00pm<br/>
            Closed Sundays and Statutory holidays
          </span>
        </div>
        <div class="col-sm-12 text-center nav-container__sub-header">
          <span class="vjs-1454979028076-4 vir" vic="vjs-1454979028076-4">
            <i class="icon icon_envelope vjs-1454979028076-5" vic="vjs-1454979028076-5"></i> 250-314-0276<br/>
            contact@knit2yarns.com
          </span>
        </div>
      </div>

      <div class="row nav-menu">
        <div class="col-sm-12 columns text-center">
          <ul class="menu">
            <li><a href="#newsletter">Newsletter</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#classes">Classes</a></li>
            <li><a href="#dropin">Drop In</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom-border"></div>
  </nav>
</div>
